@page "/"

<MudDialog @bind-Visible="AddPersonDialogIsVisible">
    <TitleContent>Add Person</TitleContent>
    <DialogContent>
        <MudText>Add someone to see their Biorhythm chart.</MudText>
        <MudTextField @bind-Value="@AddName" Required="true" Label="Name" />
        <MudDatePicker @bind-Date="@AddBirthdate" Required="true" Label="Birth Date" Editable="true" />
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="DoAddPersonObject">OK</MudButton>
        <MudButton OnClick="@(e => { AddPersonDialogIsVisible = false; })">Cancel</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="EditPersonDialogIsVisible">
    <TitleContent>Edit Chart</TitleContent>
    <DialogContent>
        <MudText>Edit someone's details for their Biorhythm chart.</MudText>
        <MudTextField @bind-Value="@EditName" Required="true" Label="Name" />
        <MudDatePicker @bind-Date="@EditBirthdate" Required="true" Label="Birth Date" Editable="true" />
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="DoEditPersonObject">OK</MudButton>
        <MudButton OnClick="@(e => { EditPersonDialogIsVisible = false; })">Cancel</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="DeletePersonDialogIsVisible">
    <TitleContent>Delete Chart</TitleContent>
    <DialogContent>
        <MudText>Are you sure you want to delete chart for '@DeletePerson?.Name'?</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="DoDeletePersonObject">OK</MudButton>
        <MudButton OnClick="@(e => { DeletePersonDialogIsVisible = false; })">Cancel</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="AddGroupDialogIsVisible">
    <TitleContent>Add Group</TitleContent>
    <DialogContent>
        <MudText>Create a group so you can see all the charts at once.</MudText>
        <MudTextField @bind-Value="@AddName" Required="true" Label="Group Name" />
        <MudList T="Person">
            @foreach (var p in ChartSet.People)
            {
                <MudListItem Class="pt-0 pb-0" T="Person">
                    <MudCheckBox @bind-Value="@(ChartSet.GroupPeople[p.ID])" Class="pt-0 pb-0">@p.Name</MudCheckBox>
                </MudListItem>
            }
        </MudList>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="DoAddGroupObject">OK</MudButton>
        <MudButton OnClick="@(e => { AddGroupDialogIsVisible = false; })">Cancel</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="EditGroupDialogIsVisible">
    <TitleContent>Edit Group</TitleContent>
    <DialogContent>
        <MudText>Edit the members of a group.</MudText>
        <MudTextField @bind-Value="@EditName" Required="true" Label="Group Name" />
        <MudList T="Person">
            @foreach (var p in ChartSet.People)
            {
                <MudListItem Class="pt-0 pb-0" T="Person">
                    <MudCheckBox @bind-Value="@(ChartSet.GroupPeople[p.ID])" Class="pt-0 pb-0">@p.Name</MudCheckBox>
                </MudListItem>
            }
        </MudList>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="EditGroupObject">OK</MudButton>
        <MudButton OnClick="@(e => { EditGroupDialogIsVisible = false; })">Cancel</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="DeleteGroupDialogIsVisible">
    <TitleContent>Delete Group</TitleContent>
    <DialogContent>
        <MudText>Are you sure you want to delete group for '@DeleteGroup?.Name'?</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="DeleteGroupObject">OK</MudButton>
        <MudButton OnClick="@(e => { DeleteGroupDialogIsVisible = false; })">Cancel</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="AddCompatibilityChartDialogIsVisible">
    <TitleContent>Add Compatibility Chart</TitleContent>
    <DialogContent>
        <MudText>Choose two people to compare their Biorthythm's and see how close to one-another they are.</MudText>
        <MudSelect T="Person" Label="Person 1" @bind-Value="AddPerson1" AnchorOrigin="Origin.BottomCenter">
            @foreach (var item in ChartSet.People)
            {
                <MudSelectItem Value="@item">@item.Name</MudSelectItem>
            }
        </MudSelect>
        <MudSelect T="Person" Label="Person 2" @bind-Value="AddPerson2" AnchorOrigin="Origin.BottomCenter">
            @foreach (var item in ChartSet.People)
            {
                <MudSelectItem Value="@item">@item.Name</MudSelectItem>
            }
        </MudSelect>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="AddCompatibilityObject">OK</MudButton>
        <MudButton OnClick="@(e => { AddCompatibilityChartDialogIsVisible = false; })">Cancel</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="EditCompatibilityDialogIsVisible">
    <TitleContent>Edit Compatibility Chart</TitleContent>
    <DialogContent>
        <MudText>Change the people in a Compatibility comparison.</MudText>
        <MudSelect T="Person" Label="Person 1" @bind-Value="EditPerson1" AnchorOrigin="Origin.BottomCenter">
            @foreach (var item in ChartSet.People)
            {
                <MudSelectItem Value="@item">@item.Name</MudSelectItem>
            }
        </MudSelect>
        <MudSelect T="Person" Label="Person 2" @bind-Value="EditPerson2" AnchorOrigin="Origin.BottomCenter">
            @foreach (var item in ChartSet.People)
            {
                <MudSelectItem Value="@item">@item.Name</MudSelectItem>
            }
        </MudSelect>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="EditCompatibilityObject">OK</MudButton>
        <MudButton OnClick="@(e => { EditCompatibilityDialogIsVisible = false; })">Cancel</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="DeleteCompatibilityDialogIsVisible">
    <TitleContent>Delete Compatibility Chart</TitleContent>
    <DialogContent>
        <MudText>Are you sure you want to delete Compatibility chart '@DeleteCompatibility?.Name'?</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="DeleteCompatibilityObject">OK</MudButton>
        <MudButton OnClick="@(e => { DeleteCompatibilityDialogIsVisible = false; })">Cancel</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="AddPredictionChartDialogIsVisible">
    <TitleContent>Add Prediction Chart</TitleContent>
    <DialogContent>
        <MudText>Add a Biorhythmic Prediction analysis for a pregnant mother to see the gender of the baby, and the estimated birth data.</MudText>
        <MudSelect T="Person" Label="Mother" @bind-Value="AddMother" AnchorOrigin="Origin.BottomCenter">
            @foreach (var item in ChartSet.People)
            {
                <MudSelectItem Value="@item">@item.Name</MudSelectItem>
            }
        </MudSelect>
        <MudDatePicker Date="@AddConceptionDate" Required="true" Label="Date of Conception" Editable="true" DateChanged="PredictionConceptionDateChanged" />
        <MudText Class="pt-5 pb-5">- or -</MudText>
        <MudDatePicker Date="@AddConceptionBirthDate" Required="true" Label="Date of Birth" Editable="true" DateChanged="PredictionConceptionBirthDateChanged" />
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="AddPredictionObject">OK</MudButton>
        <MudButton OnClick="@(e => { AddPredictionChartDialogIsVisible = false; })">Cancel</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="EditPredictionDialogIsVisible">
    <TitleContent>Edit Prediction Chart</TitleContent>
    <DialogContent>
        <MudText>Adjust the Mother or dates for a Biorhythmic Prediction analysis.</MudText>
        <MudSelect T="Person" Label="Mother" @bind-Value="EditMother" AnchorOrigin="Origin.BottomCenter">
            @foreach (var item in ChartSet.People)
            {
                <MudSelectItem Value="@item">@item.Name</MudSelectItem>
            }
        </MudSelect>
        <MudDatePicker Date="@EditConceptionDate" Required="true" Label="Date of Conception" Editable="true" DateChanged="PredictionConceptionDateChanged" />
        <MudText Class="pt-5 pb-5">- or -</MudText>
        <MudDatePicker Date="@EditConceptionBirthDate" Required="true" Label="Date of Birth" Editable="true" DateChanged="PredictionConceptionBirthDateChanged" />
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="EditPredictionObject">OK</MudButton>
        <MudButton OnClick="@(e => { EditPredictionDialogIsVisible = false; })">Cancel</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="DeletePredictionDialogIsVisible">
    <TitleContent>Delete Prediction Chart</TitleContent>
    <DialogContent>
        <MudText>Are you sure you want to delete Prediction chart for '@DeletePrediction?.Name'?</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="DeletePredictionObject">OK</MudButton>
        <MudButton OnClick="@(e => { DeletePredictionDialogIsVisible = false; })">Cancel</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="ChangeChartdateDialogIsVisible">
    <TitleContent>Change Chart Date</TitleContent>
    <DialogContent>
        <MudText>Adjust the date where the Biorhythm charts start.</MudText>
        <MudDatePicker @bind-Date="Chartdate" Required="true" Label="Chart Date" Editable="true" OpenTo="OpenTo.Month" />
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="DoChange">OK</MudButton>
        <MudButton OnClick="@(e => { ChangeChartdateDialogIsVisible = false; })">Cancel</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="FAQIsVisible" Options="FAQDialogOptions">
    <TitleContent>Frequently Asked Questions</TitleContent>
    <DialogContent>
        <FAQStatic />
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(e => { FAQIsVisible = false; })">OK</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-Visible="ShowInfo">
    <TitleContent>Cycle Info for @cycledata.Chart.Name on @($"{cycledata.Date:d-MMM-yyyy}") (@($"{cycledata.DaysDiff:#,##0}") days old)</TitleContent>
    <DialogContent>
        @{
            var (picon, pcolor, ptext) = cycledata.Physical switch
            {
                ChartClickEventArgs.CycleStatus.Positive => (Icons.Material.Filled.Mood, Color.Success, "Full of stamina—vigorous, eager, athletic competition, travel, surgical operations, work that requires physical strength"),
                ChartClickEventArgs.CycleStatus.Negative => (Icons.Material.Filled.MoodBad, Color.Error, "Lacking in stamina—easy to get tired, infectious to disease, best for rest and medicine"),
                _ => (Icons.Material.Filled.Warning, Color.Warning, "Unstable in physical condition—recharge, lethargy, tiresome, headache, fever, stroke, worsening of disease, sickness, outbreak of accidents")
            };
            var (eicon, ecolor, etext) = cycledata.Emotional switch
            {
                ChartClickEventArgs.CycleStatus.Positive => (Icons.Material.Filled.Mood, Color.Success, "Full of energy—optimistic, good-natured, performance, courting, dating, teamwork"),
                ChartClickEventArgs.CycleStatus.Negative => (Icons.Material.Filled.MoodBad, Color.Error, "Lacking in energy—be sensitive to personal relations, humdrum, pessimism"),
                _ => (Icons.Material.Filled.Warning, Color.Warning, "Unstable in emotion—slip of the tongue, quarrel, dispute")
            };
            var (iicon, icolor, itext) = cycledata.Intellectual switch
            {
                ChartClickEventArgs.CycleStatus.Positive => (Icons.Material.Filled.Mood, Color.Success, "Excellent in thinking power—study of weak subjects, making a plan, examination, decision"),
                ChartClickEventArgs.CycleStatus.Negative => (Icons.Material.Filled.MoodBad, Color.Error, "Lacking in thinking power—gathering data, study, repetition, research"),
                _ => (Icons.Material.Filled.Warning, Color.Warning, "Unstable in intellectual power—failure of memory, mistake, error, lower ability and attentiveness, lack of focus, outbreak of accidents")
            };
        }
        <MudSimpleTable Hover="false" Dense="true" FixedHeader="true">
            <thead>
                <tr>
                    <th>Cycle</th>
                    <th>Status</th>
                    <th>Interpretation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Physical</td>
                    <td><MudButton StartIcon="@picon" Color="@pcolor">@cycledata.Physical</MudButton></td>
                    <td><MudText>@ptext</MudText></td>
                </tr>
                <tr>
                    <td>Emotional</td>
                    <td><MudButton StartIcon="@eicon" Color="@ecolor">@cycledata.Emotional</MudButton></td>
                    <td><MudText>@etext</MudText></td>
                </tr>
                <tr>
                    <td>Intellectual</td>
                    <td><MudButton StartIcon="@iicon" Color="@icolor">@cycledata.Intellectual</MudButton></td>
                    <td><MudText>@itext</MudText></td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(e => { ShowInfo = false; })">OK</MudButton>
    </DialogActions>
</MudDialog>

<MudLayout>
    <MudAppBar Color="Color.Primary" Fixed="false" Dense="true">
        <MudText>Biorhythm Fun</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.FastRewind" Color="Color.Warning" Edge="Edge.End" aria-label="previous" OnClick="DoPrevious" />
        <MudIconButton Icon="@Icons.Material.Filled.EditCalendar" Color="Color.Warning" Edge="Edge.End" aria-label="set chart date" OnClick="DoChangeChartDate" />
        <MudIconButton Icon="@Icons.Material.Filled.FastForward" Color="Color.Warning" Edge="Edge.End" aria-label="next" OnClick="DoNext" />
        <MudIconButton Icon="@Icons.Material.Filled.PersonAdd" Color="Color.Warning" Edge="Edge.End" aria-label="add person" OnClick="DoAddPerson" />
        <MudIconButton Icon="@Icons.Material.Filled.GroupAdd" Color="Color.Warning" Edge="Edge.End" aria-label="add group" OnClick="DoAddGroup" />
        <MudIconButton Icon="@Icons.Material.Filled.AddChart" Color="Color.Warning" Edge="Edge.End" aria-label="add compatibility chart" OnClick="DoAddCompatibilityChart" />
        <MudIconButton Icon="@Icons.Material.Filled.AddReaction" Color="Color.Warning" Edge="Edge.End" aria-label="add prediction chart" OnClick="DoAddPredictionChart" />
        <MudIconButton Icon="@Icons.Material.Filled.ZoomIn" Color="Color.Warning" Edge="Edge.End" aria-label="larger" OnClick="@(e => DoAdjustSize(+1))" />
        <MudIconButton Icon="@Icons.Material.Filled.ZoomOut" Color="Color.Warning" Edge="Edge.End" aria-label="smaller" OnClick="@(e => DoAdjustSize(-1))" />
        <MudIconButton Icon="@Icons.Material.Filled.Help" Color="Color.Warning" Edge="Edge.End" aria-label="show faq" OnClick="DoShowFAQ" />
    </MudAppBar>
    <MudMainContent Class="pt-0">
        <MudStack Justify="@Justify.FlexStart" Row="true">
            <MudPaper Outlined="true" MinWidth="250" Class="mt-12">
                <MudNavMenu>
                    @foreach (var person in ChartSet.People.OrderBy(c => c.Name))
                    {
                        <MudNavLink OnClick="@(e => Current = person)" Icon="@Icons.Material.Filled.Person">@person.Name</MudNavLink>
                    }
                    @foreach (var group in ChartSet.Groups.OrderBy(c => c.Name))
                    {
                        <MudNavLink OnClick="@(e => Current = group)" Icon="@Icons.Material.Filled.Groups">@group.Name</MudNavLink>
                    }
                    @foreach (var compat in ChartSet.CompatibilityCharts.OrderBy(c => c.Name))
                    {
                        <MudNavLink OnClick="@(e => Current = compat)" Icon="@Icons.Material.Filled.Compare">@compat.Name</MudNavLink>
                    }
                    @foreach (var predict in ChartSet.PredictionCharts.OrderBy(c => c.Name))
                    {
                        <MudNavLink OnClick="@(e => Current = predict)" Icon="@Icons.Material.Filled.PregnantWoman">@predict.Name</MudNavLink>
                    }
                </MudNavMenu>
            </MudPaper>
            <MudPaper Outlined="true" Style="overflow-x: scroll">
                @if (Current is Person person)
                {
                    <MudCard>
                        <MudCardHeader Class="pb-0">
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">@person.Name</MudText>
                                <MudSpacer />
                                <MudText GutterBottom="false">@($"Born {person.Birthdate:dddd MMMM dd, yyyy}")</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" aria-label="edit" OnClick="@(e => DoEditPerson(person))" />
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Primary" aria-label="delete" OnClick="@(e => DoDeletePerson(person))" />
                                <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Primary" aria-label="share" OnClick="@(e => DoShare(person))" />
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent Class="pt-0">
                            <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.5)">
                                <ChartBuilder Name="@person.Name" Birthdate="@person.Birthdate" Startdate="@Startdate" Enddate="@Enddate" SizeAdjust="@Size" OnCycleClick="ShowCycleInfo" />
                            </Animate>
                        </MudCardContent>
                    </MudCard>
                }
                else if (Current is Group group)
                {
                    <MudCard Class="pb-5">
                        <MudCardHeader Class="pb-0">
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">@group.Name</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" aria-label="edit" OnClick="@(e => DoEditGroup(group))" />
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Primary" aria-label="delete" OnClick="@(e => DoDeleteGroup(group))" />
                                <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Primary" aria-label="share" OnClick="@(e => DoShare(group))" />
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent Class="pt-0 pb-0">
                            @foreach (var p in group.IDs.Select(id => ChartSet.GetPerson(id)))
                            {
                                <MudCard Class="pl-0 pt-0">
                                    <MudCardHeader Class="pl-0 pt-0 pb-0">
                                        <CardHeaderContent>
                                            <MudText GutterBottom="false">@p.Name</MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardContent Class="pl-0 pt-0 pb-0">
                                        <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.5)">
                                            <ChartBuilder Name="@p.Name" Birthdate="@p.Birthdate" Startdate="@Startdate" Enddate="@Enddate" SizeAdjust="@Size" OnCycleClick="ShowCycleInfo" />
                                        </Animate>
                                    </MudCardContent>
                                </MudCard>
                            }
                        </MudCardContent>
                    </MudCard>
                }
                else if (Current is Prediction prediction)
                {
                    var mother = ChartSet.GetPerson(prediction.MotherID);
                    var startdate1 = prediction.ConceptionDate.AddDays(-prediction.ConceptionDate.Day + 1);
                    var enddate1 = startdate1.AddMonths(1).AddDays(-1);
                    var gestation = prediction.ConceptionDate.AddDays(280);
                    var startdate2 = gestation.AddDays(-gestation.Day + 1);
                    var enddate2 = startdate2.AddMonths(1).AddDays(-1);
                    <MudCard>
                        <MudCardHeader Class="pb-0">
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">@prediction.Name</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" aria-label="edit" OnClick="@(e => DoEditPrediction(prediction))" />
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Primary" aria-label="delete" OnClick="@(e => DoDeletePrediction(prediction))" />
                                <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Primary" aria-label="share" OnClick="@(e => DoShare(prediction))" />
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent Class="pt-0">
                            <MudText>
                                Baby's gender prediction for mother @mother.Name, with birth date @($"{mother.Birthdate:dddd MMMM dd, yyyy}"),
                                concieved around @($"{prediction.ConceptionDate:dddd MMMM dd, yyyy}").
                                Biorhythm science indicates the mother's body chemistry at conception influences the acceptance of an X or Y chromosome to determine the child as female or male.
                                When a mother's biorhythm cycles are high in Emotional and low in Physical, then a girl (X chromosome) is likely.
                                When high in Physical and low in Emotional, then a boy (Y chromosome) is likely.
                            </MudText>
                            <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.5)">
                                <ChartBuilder Name="@mother.Name" Birthdate="@mother.Birthdate" Startdate="@startdate1" Enddate="@enddate1" Highlitedate="@prediction.ConceptionDate" SizeAdjust="@Size" OnCycleClick="ShowCycleInfo" Type="@ChartBuilder.ChartType.GenderPrediction" />
                            </Animate>
                            <MudText>
                                Baby's birth date prediction for mother @mother.Name, with baby's birth date around @($"{gestation:dddd MMMM dd, yyyy}").
                                Biorhythm science indicates that baby's are born on or near the mother's critical day--so look for a critical day near the 280-day gestation after conception.
                            </MudText>
                            <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.5)">
                                <ChartBuilder Name="@mother.Name" Birthdate="@mother.Birthdate" Startdate="@startdate2" Enddate="@enddate2" Highlitedate="@gestation" SizeAdjust="@Size" OnCycleClick="ShowCycleInfo" Type="@ChartBuilder.ChartType.BirthdatePrediction" />
                            </Animate>
                        </MudCardContent>
                    </MudCard>
                }
                else if (Current is Compatibility compat)
                {
                    var p1 = ChartSet.GetPerson(compat.ID1);
                    var p2 = ChartSet.GetPerson(compat.ID2);
                    <MudCard>
                        <MudCardHeader Class="pb-0">
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">@compat.Name</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" aria-label="edit" OnClick="@(e => DoEditCompatibility(compat))" />
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Primary" aria-label="delete" OnClick="@(e => DoDeleteCompatibility(compat))" />
                                <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Primary" aria-label="share" OnClick="@(e => DoShare(compat))" />
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent Class="pt-0">
                            <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.5)">
                                <CompatibilityChartBuilder Birthdate1="@p1.Birthdate" Birthdate2="@p2.Birthdate" Height="200" Width="700" />
                            </Animate>
                        </MudCardContent>
                    </MudCard>
                }
            </MudPaper>
        </MudStack>
    </MudMainContent>
</MudLayout>